<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Results</title>
  <link rel="stylesheet" href="styles/reset.css">
  <link rel="stylesheet" href="styles/base.css">
  <link rel="stylesheet" href="styles/layout.css">
  <link rel="stylesheet" href="styles/modules.css">
</head>
<body>
  <% results.forEach( result => { %>
    <div>
    <img src='<%=result.img_url %>'/>
    <h3><%= result.title %></h3>
    <h3>by <%= result.author %></h3>
    <p><%= result.description %></p>
    </div>
    <%}) %>
</body>
</html> 