<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Results</title>
</head>
<body>
  <h1>TEST</h1>
  <ul>
  <% results.forEach( result => { %>
    <li><%= result.title %></li>
    <%}) %>
  </ul>
</body>
</html>