
<nav>
  <div class="dropdown">
      <button class="dropbtn">Menu</button>
      <div class="dropdown-content">
        <a href="/views/pages/index.ejs">Home</a>
        <a href="/views/pages/error.ejs">error</a>
        <a href="/show">result</a>
      </div>
    </div>
</nav>