<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Proof of Life</title>
  <link rel="stylesheet" href="styles/base.css">
</head>
<body>
  <header>
    <h1>Booklist</h1>
  </header>
  <main>
    <form method="POST" action="/results">
      <label>Search books
      <input name="placeholder" type="text">
      </label>
      <label> Search by Author
      <input type="radio" name="searchType" value="Author">
    </label>
    <label> Search by Title
      <input type="radio" name="searchType" value="Title">
      </label>
      <input type="submit" value="search for a book">
    </form>
  </main>
</body>
</html>