<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Proof of Life</title>
  <link rel="stylesheet" href="styles/reset.css">
  <link rel="stylesheet" href="styles/base.css">
  <link rel="stylesheet" href="styles/layout.css">
  <link rel="stylesheet" href="styles/modules.css">
</head>
<body>
  <header>
    <h1>Best Books!</h1>
    <nav>
      <!-- NAV MENU -->
    </nav>
    <div>
      <h2>Search by Title or Author</h2>
    </div>
  </header>
  <main>
    <form method="POST" action="/show">
      <label>Search books
      <input name="query" type="text">
      </label>
      <label> Search by Author
      <input type="radio" name="searchType" value="Author">
    </label>
    <label> Search by Title
      <input type="radio" name="searchType" value="Title">
      </label>
      <input type="submit" value="search for a book">
    </form>
  </main>
</body>
</html>